/*--------------------------Inline----------------------------*/
.t3-ui{
	.box table { width:100%; margin:0; }
	.box .inline tr th:first-child, .box .inline tr td:first-child{ padding-left:20px; }
	.box .inline tr th:last-child, .box .inline tr td:last-child{ padding-right:20px; }
	.box th { border-top:none; padding: 4px 10px; }
	.box .box .legend { font-size:14px; }
	.box .form-inline .control-group { margin: 10px 10px 0; }
	.box .inline-template,
	.box .inline-template input,
	.box .inline-template select,
	.box .inline-template textarea { display:none; }
	.box div.inline-item {border-bottom: 1px solid #DDD; overflow:hidden;}
	.box div.inline-item .close { margin-right:20px; margin-top: 10px; display:none; }
	.box tr.inline-item .close { margin-right:20px; margin-top: 8px; margin-left:10px; display:none; }
	.box tr.inline-item td.tiny { width:20px; padding:1px 0; }
	.box .inline-unused { background:#FAFAFA; }
	.box tr.inline-item {
		.control-label { display: none; }
		.controls { margin-left: 0; }
		.control-group { margin: 0; }
		.controls input { width: 100%; }
	}
}